<div style="margin: 20px;">
    <table class="table table-bordered">
        <tbody>
                <tr>
                    <td>
                        Name Dars
                    </td>
                    <td>
                        Ostad
                    </td>
                    <td>
                        Vahed
                    </td>
                    <td>
                        Makan
                    </td>
                    <td>
                        Zarfiat
                    </td>
                    <td>
                        Ruz Hafte
                    </td>
                    <td>
                        Amaliat
                    </td>
                </tr>
                <tr>
                    <% Lessons.forEach(lesson=> { %>
                    <td>
                            <%= lesson.name %>
                    </td>
                    <td>
                        <%= lesson.ostad %>
                    </td>
                    <td>
                        <%= lesson.vahed %>
                    </td>
                    <td>
                        <%= lesson.place %>
                    </td>
                    <td>
                        <%= lesson.zarfiat %>
                    </td>
                    <td>
                        <%= lesson.day %>
                    </td>
                    <td>
                        <a href="/daneshjoo/<%= lesson.id %><%= daneshjoo %>/add">Add</a>
                        <a href="/daneshjoo/<%= lesson.id %><%= daneshjoo %>/remove">Remove</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/users/logout" class="btn btn-secondary" style="margin-left: -205px; margin-top: -900px">Logout</a>
<!-- <button class="btn btn-primary" type="submit" style="margin-left: -155px; margin-top: -800px"> <a href="/daneshjoo/login">back</a style="color: #fff"></a> </button> -->

</div>